@model Samochod

<h2> @Model.Marka -@Model.Model </h2>

<div class="img-thumbnail">
    <img alt="@Model.Marka" src="@Model.ZdjecieUrl" />
    <div class="figure-caption">
        <h3 class="float-right">
            @Model.Cena
        </h3>
        <h3>
            <a href="#">@Model.Model</a>
        </h3>
        <h4> @Model.RokProdukcji</h4>
        <h4> @Model.Przebieg</h4>
        <h4> @Model.Pojemnosc</h4>
        <h4> @Model.Moc</h4>
        <h4> @Model.Opis</h4>
        <p>@Model.Opis</p>
    </div>
</div>